<section class="carousel_section">
  <div class="home_hero1">
    <div class="container">
      <div class="row">
        <div class="carousel">
          <div class="col-sm-6">
            <div class="content1">
              <h1 class="title">new tour<span></span><span></span></h1>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content2">
            </div>
          </div>
          <div class="col-12">
            <h1 class="sub_title">UNFORGETTABLE</h1>
            <p class="info">Live tour continues with new international dates just added </p>
          </div>
          <div class="col-12">
            <a href="#" class="mi_btn">
              find Tickets
            </a>
            <a href="#" class="play_btn">
              <div class="">
                <div class="play_angle"></div>
              </div>
            </a>
            <!-- <div class="row">
              <div class="col-sm-3">
                <a href="#" class="mi_btn">
                  find Tickets
                </a>
              </div>
              <div class="col-sm-3">
                <a href="#" class="paly_btn">

                </a>
              </div>
              <div class="col-sm-4">

              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
