// all your site variable for scss goes hear
// font-family: 'Barlow', sans-serif;
// font-family: 'Roboto', sans-serif;
$barlow : 'Barlow', sans-serif;
$roboto : 'Roboto', sans-serif;
$blue_color : #0134a0;
$white_color : #fff;
